{# Llamamos a esta plantilla desde RutasController

    public function index(): Response
    {
        return $this->render('rutas/index.html.twig', ['controller_name' => 'RutasController']);
    }

    Al igual que ocurre con la POO, las plantillas puede extenderse unas de otras.
    En la plantilla base.html.twig tenenemos dos bloques que vamos a reemplazar por el contenido que especificamos en esta plantilla, son:
        línea 35 {% block title %}
        línea 39 {% block body %}
#}

{% extends 'base.html.twig' %}

{% block title %}Hello RutasController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'E:/proyectoLiga/src/Controller/RutasController.php'|file_link(0) }}">src/Controller/RutasController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'E:/proyectoLiga/templates/rutas/index.html.twig'|file_link(0) }}">templates/rutas/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
